@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://a.pinatafarm.com/1000x548/6757dd1ec2/samuel-l-jackson-say-one-more-time.jpg" class="carousel-img d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://content.imageresizer.com/images/memes/Samuel-Jackson-stares-mother-ly-meme-1.jpg" class="carousel-img d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.15752-9/480806764_1169042365232466_1724252230008357052_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeEo4ItOMUfWJa25sjKACqf5p9fhmp37tRSn1-Ganfu1FP7ae7BLCLJHAT_ByTlFyjbRdAb9BjeQmrdNebFRfDW1&_nc_ohc=JMZxMSTDzsIQ7kNvgFdX4mb&_nc_oc=AdhnBoC8zRK4yNjGAM93ITLbepLlm0HlVyk7f2mf2MYulz4buYFC24lU0fgb8b6qAS0&_nc_zt=23&_nc_ht=scontent.fmnl4-4.fna&oh=03_Q7cD1gHqTKoYgaPyAvSZCqk-OGwl_XFjL8iDpQu4n97yB0Z_gw&oe=67E7CEDB" class="carousel-img d-block w-100" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <h1 class="mt-4">Welcome to My Portfolio My Friend</h1>
    <p class="lead">Explore my work and experience throughout the years.</p>
</div>
